<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d3659e7ce9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hay equipo</title>
</head>
<body>
    <header> 
        <div class="container-fluid">
            <div>
                <a href="/"><img class="logo"src="/img/logo.png" alt="logo"></a>
            </div>
            <nav class="header-navbar">
                <i class="fa-solid fa-bars" id="hamb-icon"></i>    
                <ul class="menu-navbar">
                    <li><a href="/canchas">Canchas</a></li> 
                    <li><a href="/login">Login</a></li>
                    <button type="button" class="btn btn-outline-light"><a href="/registro">Registro</a></button>
                </ul>                
            </nav>
        </div>    
    </header>

    <section class="cuerpo-home">
        <div class="banner-equipo">        
            <h3>
                EQUIPOS LISTOS PARA JUGAR
            </h3>
        </div>
    </section>
    <section class="cartas-equipos" id="equipos-section">
            <div class="card" style="width: 18rem;">
            <span class="marcador"> 100% Asistencia <i class="fa-solid fa-handshake-angle"></i></span>
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo A</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/carrito2" class="btn btn-primary">Desafiar ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <span class="marcador"> 100% Asistencia <i class="fa-solid fa-handshake-angle"></i></span>
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo B</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/carrito2" class="btn btn-primary">Desafiar ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo C</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/carrito2" class="btn btn-primary">Desafiar ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo D</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/carrito2" class="btn btn-primary">Desafiar ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <span class="marcador"> 100% Asistencia <i class="fa-solid fa-handshake-angle"></i></span>
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo E</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/carrito2" class="btn btn-primary">Desafiar ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <span class="marcador"> 100% Asistencia <i class="fa-solid fa-handshake-angle"></i></span>
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo F</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/carrito2" class="btn btn-primary">Desafiar ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo G</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/carrito2" class="btn btn-primary">Desafiar ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo H</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/carrito2" class="btn btn-primary">Desafiar ></a>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <p>
                © 2022 Grupo11
            </p>
            <ul class="redes-sociales">
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>