<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <header> 
        <div class="container-fluid">
            <div>
                <img class="logo"src="/img/logo.png" alt="logo">
            </div>
            <nav class="header-navbar">
                <div class="boton-magico">       
                <button class="btn btn-primary" id="magic-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars" id="hamb-icon"></i></button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <button type="button" data-bs-dismiss="offcanvas" aria-label="Close" id="boton-cerrar">X</button>
                        <h5 class="offcanvas-title" id="offcanvasRightLabel"><a href="/products/canchas">Canchas</a></h5><br>
                        <h5 class="offcanvas-title" id="offcanvasRightLabel"><a href="/users/login">Login</a></h5><br>
                        <h5 class="offcanvas-title" id="offcanvasRightLabel"><a href="/users/registro">Registro</a></h5><br>
                    </div>
                </div>
                </div> 
                <ul class="menu-navbar">
                    <li><a href="/products/canchas">Canchas</a></li> 
                    <li><a href="/users/login">Login</a></li> 
                    <button type="button" class="btn btn-outline-light"><a href="/users/registro">Registro</a></button>
                </ul>                
            </nav>
        </div>    
    </header>
    <section class="cuerpo-home" id="cuerpo-inicio">
        <div class="banner-home">
            <h2>
                EXPLORÁ
            </h2>
            <h3>
                LA NUEVA MANERA DE JUGAR
            </h3>
            <button type="submit"><a href="./products/equipos">VER EQUIPOS ></a></button>
        </div>
    </section>
    <section class="cartas-equipos" id="equipos-home">
        <div>
            <h4 class="esperando-jugar">
                Esperando para jugar...
            </h4>
        </div>
        <div class="card" style="width: 18rem;">
            <span class="marcador"> 100% Asistencia <i class="fa-solid fa-handshake-angle"></i></span>
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo A</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/products/equipos" class="btn btn-primary">Más info ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <span class="marcador"> 100% Asistencia <i class="fa-solid fa-handshake-angle"></i></span>
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo B</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/products/equipos" class="btn btn-primary">Más info ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo C</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/products/equipos" class="btn btn-primary">Más info ></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/equipo futsal.jpg" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title">Equipo D</h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="/products/equipos" class="btn btn-primary">Más info ></a>
            </div>
        </div>
    </section> 
    <%- include('./partials/footer') %>
</body>
</html>