<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d3659e7ce9.js" crossorigin="anonymous"></script>
    <title>Hay equipo</title>
</head>
<body>
    <header> 
        <div class="container-fluid" id="header-registro">
            <div>
                <img class="logo"src="/img/logo.png" alt="logo">
            </div>
            <nav class="header-navbar-registro">
                <i class="fa-solid fa-bars"></i>    
                <ul class="menu-navbar">
                    <li>Canchas</li>
                    <li>Equipos</li>
                    <li class="boton-login">Login</li>
                    <button type="button" class="btn btn-outline-light">Registro</button>
                </ul>                
            </nav>
        </div>    
    </header>
    <section class="registro-cuerpo">
        <div>
            <img src="/img/pelota.jpg" class="registro-imagen" alt="Imagen ingreso">
        </div> 
        <div class="registro-formulario">
            <form>
                
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="hayequipo@web.com">
                    <div id="emailHelp" class="form-text">Nunca compartiremos tu información.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
              
                <button type="submit" class="btn btn-primary">INGRESAR</button>
            </form>            
        </div> 
    </section>
    <footer>
        <div class="container-fluid">
            <p>
                © 2022 Grupo11
            </p>
            <ul class="redes-sociales">
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>