header .container-fluid{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    font-family: "Lato";
    background-color: #25306A;
    color: white;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.logo {
    width: 200px;
}

.header-navbar{
    display: flex;
    align-items: center;
}

.header-navbar i{
    font-size: 19px;
}

.menu-navbar{
    display: none;
}

.banner-home{
    position: relative;
}

.banner-home img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

.banner-home h2{
    position: relative;
    font-size: 34px;
    color: #25306A;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 0px;
    padding-top: 10px;
}

.banner-home h3{
    position: relative;
    font-size: 22px;
    color: #25306A;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 10px;
}

.banner-home button{
    background-color: #5E658C;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    position: sticky;
    border-color: #5E658C;
}

.cartas-equipos{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.esperando-jugar{
    width: 100vw;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;
}
.card{
    padding: 10px;
    margin: 5px;
}

.card .marcador{
    position: absolute;
    background-color: #A1FCC6;
    border: #5E658C 1px;
    border-style: solid;
    font-size: 10px;
    color: #25306A;
    border-radius: 20px;
    padding: 3px 10px;
    right: -5px;
    top: -10px;
}

.card-body h5{
    font-weight: bold;
    color: #5E658C;
}
.card-body ul{
    list-style: none;
    font-size: 14px;
    color: #25306A;
}

.card-body .btn-primary{
    --bs-btn-bg: #8A8EA6;
    --bs-btn-border-color: #8A8EA6;
    --bs-btn-hover-bg: #25306A;
    --bs-btn-hover-border-color: #25306A;
}

/* STYLE DEL REGISTRO Y LOGIN */


.header-navbar-registro .menu-navbar{
    display: none;
}

#header-registro{
    display: flex;
    justify-content: center;
}

.registro-cuerpo{
    display: flex;
    justify-content: center;
    background-color: #25306A;
}

.registro-imagen{
    width: 50vw;
    display: none;
}

.registro-formulario{
    width: 60%;
    padding: 15px;
    box-sizing: border-box;
    border: solid;
    background-color: #5E658C;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
}

.registro-formulario .form-control{
    font-size: 12px;
}

.registro-formulario #emailHelp{
    color: #C7CAD9;
}

footer .container-fluid{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: center;
    font-family: "Lato";
    background-color: #25306A;
    color: white;
    align-items: center;
    padding: 10px;
    margin: auto;
    bottom: 0;
}

footer .container-fluid p{
    margin: auto;
}

.redes-sociales{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    --bs-link-color: white;
    --bs-link-hover-color: #8A8EA6;
}

.redes-sociales li{
    margin-left: 10px;
}

@media (min-width: 768px) {

.header-navbar i{
    display: none;
}
.header-navbar-registro .menu-navbar {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
}

.menu-navbar li{
    margin-left: 10px;
}

.btn-outline-light {
    margin-left: 10px;
}

#header-registro{
    justify-content: space-between;
}

.header-navbar-registro{
    display: flex;
}

.header-navbar-registro i{
    display: none;
}

.registro-cuerpo{
    align-items: center;
}
.registro-imagen{
    width: 100vw;
    margin-left: 15px;
    display: flex;
    position: relative;
    opacity: 0.80;
}

.registro-formulario{
    width: 30vw;
    padding: 15px;
    box-sizing: border-box;
    border: solid;
    background-color: #5E658C;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
}
/*PARTE DEL LOGIN*/
.header-navbar-login .menu-navbar{
    display: flex;
}
.header-navbar-login i{
    display: none;

}
}

/* STYLE DE LOGIN */



.menu-navbar-registro {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
}
.header-navbar-login .menu-navbar{
    display: none;
}


/*STYLE DE EQUIPOS*/
.banner-equipo h3{
    display: flex;
    text-align: center;
    background-color:#C7CAD9;
    color: #25306A;
    font-size: 22px;
    height: 70px;
    width: 100%;
    align-items: center;

   justify-content: center;
 
}
.banner-equipo{
    display: flex;
    justify-content: center;

}
.imagen-equipos-fondo{
    width: 100vw;
    margin-left: 15px;
    display: flex;
    position: absolute;
    opacity: 0.80;
}


/*STYLE DE CANCHAS*/

.main-canchas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #5E658C;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.titulo-canchas{
    background-color: #C7CAD9;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 15px;
}
.container-padre-canchas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.ol-canchas{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 0%;
}
.first-day{
    grid-column-start: 5;
}
.dias{
    list-style: none;
    font-weight: bold;
    padding: 0%;
    
}
.numeros{
    padding: 0%;
}
.calendar{
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: #8A8EA6;
    border-radius: 15px;
    margin-top: 15px;
    border: solid 1px black;
}
.imagen{
    border-radius: 15px;
    border: solid 1px black;
}
.container-canchas{
    background-color: #C7CAD9;
    font-family: "Lato";
    border-radius: 15px;
    width: 330px;
    padding-bottom: 15px;
    margin: auto;
    border: solid 1px black;
    box-shadow: 0px 0px 10px #25306A;
}
.container-canchas:hover{
    width: 350px;
    transition-property: width;
    transition-duration: 0.5s;
}
.cancha1{
    margin-bottom: 15px;
}
.mes-canchas{
    padding-top: 15px;
    font-weight: bold;
}
.buttons-canchas{
    margin-top: 15px;
}
.arrow-canchas{
    color: grey;
}
.arrow-canchas:hover{
    color: #25306A;
    transition-property: color;
    transition-duration: 0.5s;
}
.dates-canchas{
    border-radius: 10px;
    background-color: #8A8EA6;
    margin-top: 15px;
    border: solid 1px black;
}
.dates-canchas:hover{
    background-color: aliceblue;
    width: 130px;
    transition-property: background-color, width;
    transition-duration: 0.5s;
}
@media (min-width: 768px){
    .main-canchas{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container-padre-canchas{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-canchas{
        margin-right: 40px;
    }
    .cancha1{
        margin-bottom: 0%;
    }
}
/*FIN STYLE DE CANCHAS*/

/* STYLE DE CARRITO*/

.banner-carrito h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #25306A;
}
.banner-carrito a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.d-flex{
    display: flex;    
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.forma-recuadro{
    border: 2px solid #000000;
    border-radius: 18px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.carrito-compras{
    list-style: none;
    ;
}
.imagen-carrito{
    width: 80px;
    margin: 12px;
}
.reserva-fecha{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;

}
.btn-confirmar{
    display: flex;
    flex-direction:row-reverse;
    margin: 30px;
}
.registro-formulario h3{
    display: flex;
    justify-content: center;
}
