.container-fluid{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    font-family: "Lato";
    background-color: #25306A;
    color: white;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.logo {
    width: 200px;
    }

.header-navbar{
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
}

header nav ul li{
    margin-left: 10px;
}

.btn-outline-light {
    margin-left: 10px;
}
