header .container-fluid{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    font-family: "Lato";
    background-color: #25306A;
    color: white;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.logo {
    width: 200px;
}

.header-navbar{
    display: flex;
    align-items: center;
}

.header-navbar i{
    font-size: 19px;
}

.menu-navbar{
    display: none;
}

.banner-home{
    position: relative;
}

.banner-home img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

.banner-home h2{
    position: relative;
    font-size: 34px;
    color: #25306A;
    font-weight: bold;
    margin-left: 15px;
}

.banner-home h3{
    position: relative;
    font-size: 22px;
    color: #25306A;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 10px;
}

.banner-home button{
    background-color: #8A8EA6;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.carta-equipo{
    position: relative;
}

footer .container-fluid{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: center;
    font-family: "Lato";
    background-color: #25306A;
    color: white;
    align-items: center;
    padding: 10px;
    margin: auto;
    bottom: 0;
}

footer .container-fluid p{
    margin: auto;
}

.redes-sociales{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    --bs-link-color: white;
    --bs-link-hover-color: #8A8EA6;
}

.redes-sociales li{
    margin-left: 10px;
}

@media (min-width: 768px) {

.header-navbar i{
    display: none;
}
.menu-navbar {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
}

.menu-navbar li{
    margin-left: 10px;
}

.btn-outline-light {
    margin-left: 10px;
}
}
