<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <header> 
        <div class="container-fluid">
            <div>
                <a href="/"><img class="logo"src="/img/logo.png" alt="logo"></a>
            </div>
            <nav class="header-navbar">
                <div class="boton-magico">       
                    <button class="btn btn-primary" id="magic-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars" id="hamb-icon"></i></button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <button type="button" data-bs-dismiss="offcanvas" aria-label="Close" id="boton-cerrar">X</button>
                            <h5 class="offcanvas-title" id="offcanvasRightLabel"><a href="../products/canchas">Canchas</a></h5><br>
                            <h5 class="offcanvas-title" id="offcanvasRightLabel"><a href="../products/equipos">Equipos</a></h5><br>
                            <h5 class="offcanvas-title" id="offcanvasRightLabel"><a href="./registro">Registro</a></h5><br>
                        </div>
                    </div>
                </div>    
                <ul class="menu-navbar">
                    <li><a href="../products/canchas">Canchas</a></li> 
                    <li><a href="../products/equipos">Equipos</a></li> 
                    <button type="button" class="btn btn-outline-light"><a href="./registro">Registro</a></button>                   
                </ul>                
            </nav>
        </div>    
    </header>
    <section class="registro-cuerpo" id="login-fondo">
        
        <div class="registro-formulario">
            <form>
                
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="hayequipo@web.com">
                    <div id="emailHelp" class="form-text">Nunca compartiremos tu información.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
              
                <button type="submit" class="btn btn-primary">INGRESAR</button>
            </form>            
        </div> 
    </section>
    <%- include('../partials/footer') %>    
</body>
</html>